{% style %}

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .ft-Footer_Header {
    max-width: 450px;
    margin: 0 auto;
}
  }

  .footer-contact-option {
    border-bottom: 1px solid #525252;
}
.ft-Footer_Header {
    margin-bottom: 20px;
    text-align: center;
}

.ft-Footer_Title {
  font-weight: bold;
  margin-bottom: 10px;
}

.ft-Footer_Message {
  margin-bottom: 20px;
}

.ft-Footer_Items {
    list-style: none;
    justify-content: center;
    display: flex;
    margin-top: 25px;
    text-align: center;
}

.ft-Footer_Item {
    padding: 0 30px;
}

.ft-Contact_Link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease;
}

.ft-Contact_Title {
    text-transform: uppercase;
}
  
.ft-Contact_Link:hover {
  opacity: 0.8;
}

.ft-Contact_Icon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}
.section-{{ section.id }}-icon-color {
  color: {{ section.settings.icon_color }};
}
.ft-Contact_Icon svg {
  width: 100%;
  height: 100%;
}

.ft-Contact_Title {
  margin: 0;
  text-align: center;
      font-size: 12px;
}

@media (max-width: 767px) {
  .ft-Footer_Item {
    padding: 0 12px;
}
  .ft-Footer_Items {
    padding: 0;
}
}
{% endstyle %}
<div class="footer-contact-option color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
<div class="ft-Footer_Header page-width">
  <h2 class="ft-Footer_Title">{{ section.settings.title }}</h2>
  <div class="ft-Footer_Message">{{ section.settings.description }}</div>
  <ul class="ft-Footer_Items">
    {% for i in (1..3) %}
      {% assign icon = 'icon_' | append: i %}
      {% assign label = 'label_' | append: i %}
      {% assign action = 'action_' | append: i %}
      
      <li class="ft-Footer_Item">
          <a href="{{ section.settings[action] }}" class="ft-Contact_Link" {% if section.settings[action] contains 'mailto:' %}target="_blank"{% endif %}>
        
          <div class="ft-Contact_Icon section-{{ section.id }}-icon-color">
            {% case section.settings[icon] %}
              {% when 'chat' %}
                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25"><path clip-rule="evenodd" d="M13 1C6.37287 1 1 5.925 1 12c0 3.331 1.62157 6.31 4.17391 8.327V24l3.13044-1.875C9.74748 22.688 11.3336 23 13 23c6.6271 0 12-4.925 12-11S19.6271 1 13 1v0z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path clip-rule="evenodd" d="M7.26089 12.5c0 .276-.23374.5-.52174.5s-.52174-.224-.52174-.5.23374-.5.52174-.5.52174.224.52174.5v0zM13.5217 12.5c0 .276-.2337.5-.5217.5-.288 0-.5217-.224-.5217-.5S12.712 12 13 12c.288 0 .5217.224.5217.5v0zM19.7826 12.5c0 .276-.2337.5-.5217.5-.288 0-.5218-.224-.5218-.5s.2338-.5.5218-.5c.288 0 .5217.224.5217.5v0z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              {% when 'phone' %}
                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 25"><path clip-rule="evenodd" d="M2 5h12c.552 0 1 .448 1 1s-.448 1-1 1H2c-.552 0-1-.448-1-1s.448-1 1-1v0z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2 5V4c0-1.657 1.343-3 3-3h6c1.657 0 3 1.343 3 3v1M5 3h6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path clip-rule="evenodd" d="M4 22h8V10H4v12z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8 10v12M4 14h8M4 18h8" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path clip-rule="evenodd" d="M1 24h14v-2H1v2zM2 22h12V7H2v15z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
              {% when 'email' %}
                <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 25"><path d="M3.08667 9.33936l8.55753 5.85494c.8171.5593 1.8939.5593 2.711 0l8.5576-5.85494" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path clip-rule="evenodd" d="M14.4139 1.43748c-.8525-.583306-1.9753-.583306-2.8278 0L1.95165 7.67957C1.35791 8.06357 1 8.72304 1 9.43052V21.8615c0 1.152.93391 2.0869 2.08696 2.0869H22.913c1.152 0 2.087-.9349 2.087-2.0869V9.43052c0-.70748-.359-1.36695-.9527-1.75095l-9.6334-6.24209v0z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3.08667 21.8609l6.26087-5.2173M22.9128 21.8609l-6.2608-5.2173" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            {% endcase %}
          </div>
          <p class="ft-Contact_Title">{{ section.settings[label] }}</p>
          
       
          </a>
      </li>
    {% endfor %}
  </ul>
</div>
          </div>



{% schema %}
{
  "name": "Footer Contact Options",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Need a hand?"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>We're available to call free on 0800 817 4281 between 9am - 5pm GMT Mon - Fri, or contact us via Live Chat or email</p>"
    },
    {
      "type": "header",
      "content": "Contact Options"
    },
    {
      "type": "select",
      "id": "icon_1",
      "label": "Icon 1",
      "options": [
        {
          "value": "chat",
          "label": "Chat Icon"
        },
        {
          "value": "phone",
          "label": "Phone Icon"
        },
        {
          "value": "email",
          "label": "Email Icon"
        }
      ],
      "default": "chat"
    },
    {
      "type": "text",
      "id": "label_1",
      "label": "Label 1",
      "default": "Chat"
    },
    {
      "type": "text",
      "id": "action_1",
      "label": "Action 1",
      "default": "pages/contact",
      "info": "URL"
    },
    {
      "type": "select",
      "id": "icon_2",
      "label": "Icon 2",
      "options": [
        {
          "value": "chat",
          "label": "Chat Icon"
        },
        {
          "value": "phone",
          "label": "Phone Icon"
        },
        {
          "value": "email",
          "label": "Email Icon"
        }
      ],
      "default": "phone"
    },
    {
      "type": "text",
      "id": "label_2",
      "label": "Label 2",
      "default": "Call"
    },
    {
      "type": "text",
      "id": "action_2",
      "label": "Action 2",
      "default": "tel:08008174281",
      "info": "URL"
    },
    {
      "type": "select",
      "id": "icon_3",
      "label": "Icon 3",
      "options": [
        {
          "value": "chat",
          "label": "Chat Icon"
        },
        {
          "value": "phone",
          "label": "Phone Icon"
        },
        {
          "value": "email",
          "label": "Email Icon"
        }
      ],
      "default": "email"
    },
    {
      "type": "text",
      "id": "label_3",
      "label": "Label 3",
      "default": "Email"
    },
    {
      "type": "text",
      "id": "action_3",
      "label": "Action 3",
      "default": "mailto:customerservice@example.com",
      "info": "URL"
    },
    {
            "type": "color",
            "id": "icon_color",
            "label": "Icons color",
            "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Footer Contact Options",
      "category": "Footer"
    }
  ]
}
{% endschema %}